@import './variables';

* {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  background-color: $background-color;
  max-width: 100vw;
  min-height: calc(100vh - $navbar-height - 84.5px);
  position: relative;
  width: 100vw;
}

.layout {
  max-width: 1144px;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

@media only screen and (max-width: $layout-width) {
  .layout {
    padding: 0 19px;
  }
}
