@import './../../styles/variables';

.Footer {
  background-color: $background-color;

  & section {
    gap: 15px;
    padding-top: 24px;
    padding-bottom: 24px;

    & hr {
      width: 100%;
    }
  }
}
